<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points board || GUDLFT</title>
  </head>

  <body>
    <h2>Welcome</h2>
    <a href="{{ url_for('index') }}">Connexion</a><br>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h3>Clubs:</h3>
    <ul>
      {% for club in clubs if club["name"] %}
        <li>
          {{ club["name"] }}<br>
          Points available: {{ club["points"] }}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>